<h2>File Upload</h2>

<input type="file" accept=".txt" multiple class="file-input" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

    {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        Choose a file
        <mat-icon>attach_file</mat-icon>
    </button>
</div>

<div>{{fileContent}}</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->